body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

address{
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.section{
padding-top: 120px;
padding-bottom: 120px;
}

/* ==============HEADER================ */
.header{
    background: #fff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-container {
    display: flex;
}

.header-navigation{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start ;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo span{
    color: #2e2f42
}

.header-navigation-list {
    display: flex;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    }

.menu-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-item {
    position: relative;
    color: #404bbf;
}

.studio-item::after {
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background: #404bbf;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

}

.menu-item-list{
}

.menu-item:hover,
.menu-item:focus{
color: #404bbf
}

.contacts{
    font-style: normal;
    display: flex;
}

.header-contact-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 40px;
    padding-right: 0;
    
}

.header-contact-list-item{}

.header-contact-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus{
    color:#404bbf;
}

/** =============HERO================= */
.hero{
background: #2e2f42;
padding: 188px 0;
margin: 0 auto;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
),
url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
}

.hero-header{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    }


.button-hero{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus{
    background-color:#404BBF
}

/** =============ABOUT================= */

.about-item{
    display: flex;
}

.about-item-list{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: calc((100% - 3 * 24px) / 4)
}

.about-item-list:not(:last-child) {
margin-right: 24px;
}

.about-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.about-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-item-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

/** =============TEAM================= */

.team-title {
    margin-bottom: 72px;
}

.team-wrap{
padding: 32px 0;
}

.team-section{
    background: #f4f4fd;
}



.team-members{ 
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.border:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-members-list:last-child{
    margin-right: 0;
}

.team-members-list{
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-members-img{
    border-radius: 0 0 4px 4px;
    width: 264px;
}

.team-members-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-members-speciality{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-icon-wrap{
}

.team-icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin-top: 8px;
}

.team-member-links-link{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-links-link:hover {
    background-color: #404bbf;
}

.team-member-links-link:focus {
    background-color: #404bbf;
}

.team-icon-item{
}

.team-icon{
fill: #f4f4fd;
}

/** =============PRODUCTS================= */

.product-title{
    margin-bottom: 72px;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    }

.products-list-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.products-list-item:hover .additional-products-cover {
transform: translateY(0);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-list-item:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title{
    padding-top: 120px;
}

.products-img{
    width: 360px;
}

.products-img-wrap{
    position: relative;
    overflow: hidden;

}

.products-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;   
    margin-bottom: 8px;
}

.products-descr{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.border {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.additional-products-cover {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color:#4d5ae5;;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

/** =============FOOTER================= */
.footer-section{
background: #2e2f42;
padding: 100px 0;
}

.footer-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    }

.footer-logo-container{
    margin-right: 120px;
    }

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-text{
color: #f4f4fd;
}

.footer-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.social-media-container{

}

.social-media-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-media-list{
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.social-media-link{
display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link-icon{
    fill: #F4F4FD;
}

.social-media-link:hover{
    background-color: #31d0aa;
}

.social-media-link:focus {
    background-color: #31d0aa;
}